header,
main,
nav,
footer,
figure,
figcaption,
aside,
section,
article {
    display: block;
}

body {
    background-color: #4F6D93;
    background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93);
    background-repeat: no-repeat;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #000033;
    color: #ffffff;
    background-image: url(images/sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 60px;
    padding-top: 15px;
    text-align: center;
}

nav {
    font-weight: bold;
    float: left;
    width: 160px;
    padding: 20px;
}

nav a {
    text-decoration: none;
    transition: color 3s ease-out;
}

nav ul {
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
    list-style-type: none;
}

nav a:link {
    color: #000033;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #FFFFFF;
}

main {
    background-color: #FFFFFF;
    margin-left: 190px;
    padding: 1px 20px 20px 30px;
    display: block;
}

h1 {
    margin-top: 0;
    font-family: Georgia, "Times New Roman", serif;
}

h2 {
    color: #3399cc;
    text-shadow: 1px 1px 1px #CCCCCC;
    font-family: Georgia, "Times New Roman", serif;
}

h3 {
    color: #000033;
    font-family: Georgia, "Times New Roman", serif;
}

main ul {
    list-style-image: url(images/marker.gif);
}

footer {
    background-color: #FFFFFF;
    margin-left: 190px;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 20px;
    clear: both;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 120px;
    padding-right: 10px;
}

input,
textarea {
    display: block;
    margin-bottom: 20px;
}

input[type="submit"] {
    margin-left: 130px;
}

.resort {
    color: #5c7fa3;
    font-weight: bold;
}

#contact {
    font-size: 90%;
}

#wrapper {
    background-color: #90C7E3;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;
}

#homehero {
    height: 300px;
    background-image: url(images/coasthero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 190px;
}

#yurthero {
    height: 300px;
    background-image: url(images/yurthero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 190px;
}

#trailhero {
    height: 300px;
    background-image: url(images/trailhero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 190px;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

#gallery {
    position: relative;
    height: 200px;
}

figure {
    position: absolute;
    left: 280px;
}

#gallery ul {
    width: 300px;
    list-style-type: none;
}

#gallery li {
    display: inline;
    float: left;
    padding: 10px;
}

#gallery img {
    border-style: none;
}

#gallery a {
    text-decoration: none;
    font-style: italic;
    color: #000000;
}

#gallery span {
    position: absolute;
    left: -1000px;
    opacity: 0;
}

#gallery a:hover span {
    position: absolute;
    top: 16px;
    left: 320px;
    text-align: left;
    opacity: 1;
}

.text {
    text-align: left;
}

table {
    border: 1px solid #3399CC;
    width: 80%;
    border-spacing: 0;
}

td,
th {
    padding: 5px;
    border: 1px solid #3399CC;
}

td {
    text-align: center;
}

tr:nth-of-type(odd) {
    background-color: #F5FAFC;
}

video {
    width: 100%;
    height: auto;
    max-width: 320px;
}

video,
embed {
    float: right;
    padding-left: 20px;
}

@media only screen and (max-width: 64em) {
    body {
        margin: 0;
        background-color: #FFFFFF;
    }
    #wrapper {
        min-width: 0;
        width: auto;
        box-shadow: none;
    }
    main {
        margin-left: 0;
    }
    nav {
        float: none;
        width: auto;
        text-align: center;
        padding: 0.5em;
    }
    nav li {
        display: inline;
        padding: 0.25em 0.75em;
    }
    #homehero,
    #yurthero,
    #trailhero {
        margin: 0;
        height: 200px;
    }
    footer {
        margin: 0;
    }
}

@media only screen and (max-width: 37.5em) {
    header {
        padding-top: 1em;
    }
    main {
        padding: 0.1em 1em;
        font-size: 90%;
    }
    h1 {
        font-size: 1.5em;
    }
    nav {
        padding: 0;
    }
    nav li {
        display: block;
        margin: 0;
        border-bottom: 2px solid #330000;
    }
    nav a {
        display: block;
    }
    label {
        float: none;
        text-align: left;
    }
    input[type="submit"] {
        margin-left: 0;
    }
    #homehero,
    #yurthero,
    #trailhero {
        background-image: none;
        height: 0;
    }
    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }
    #gallery {
        display: none;
    }
}